.message {
  font-size: 5.8rem;
  text-transform: uppercase;
  letter-spacing: 42px;
  font-weight: 700;
  color: #FFFFFF;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  mix-blend-mode: difference;
  z-index: 10;
  display: flex;
}
