.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
}

.row{
  position: relative;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 5.8rem;
  text-transform: uppercase;
  letter-spacing: 42px;
  font-weight: 700;
  color: #FFFFFF;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  mix-blend-mode: difference;
  z-index: 9;
}

.text-top {
  font-size: 3rem;
  letter-spacing: 9px;
  color: #00000;
  font-weight: 700;
  mix-blend-mode: difference;

}

.text-bottom {
  font-size: 3rem;
  letter-spacing: 9px;
  color: #00000;
  font-weight: 700;
  mix-blend-mode: difference;
  text-align: right;
  transform: translateY(-200%);
}

.inner {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 100px;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Garamond;
}

.blurb {
  font-size: 1rem;
  letter-spacing: 2px;
  justify-content: center;

}

.contact {
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  mix-blend-mode: difference;
}

@media (max-width: 770px) {
  .text {
    font-size: 3rem;
    margin-left: 20px;
  }
  .text-top {
    font-size: 1rem;
    text-align: center;
  }
  .text-bottom {
    font-size: 1rem;
    text-align: center;
    margin-top: -40px;
  }
  .row {
    text-align: center;
  }
}
